.container__home {
  background-color: black;
  max-width: 90%;
  display: flex;
}

.container__home__left {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__home__right {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#background {
  width: 500px;
}
.container__home2 {
  background-color: black;
  max-width: 90%;
  display: flex;
  margin-left: 146px;
}

.container__home__left2 {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__home__right2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__home3 {
  background-color: black;
  max-width: 90%;
  display: flex;
}

.container__home__left3 {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__home__right3 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
